<!DOCTYPE html>
<html ng-app="TestLatamApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Talos Digital</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Forms -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Angularjs -->
    <script src="js/angularjs-1.6.0/angular.min.js"></script>
    <script src="js/angularjs-1.6.0/angular-resource.min.js"></script>
    <script src="js/angularjs-1.6.0/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/weatherController.js"></script>

</head>

<body ng-controller="WeatherController">

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Talos Digital technical assessment</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
<!--                             <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Form test</a> -->
                            <a href="swagger-ui.html"><i class="fa fa-edit fa-fw"></i>Api Documentation</a>
                            <a href="https://github.com/ranmadxs/testLATAM"><i class="fa fa-edit fa-fw"></i>GitHub</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Weather challenge</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Please choose a city and a metric system
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Select the city</label>
                                            <select class="form-control" ng-model="selectedCity">
                                                <option ng-repeat="city in data.cities" value="{{city.id}}">{{city.name}}</option>
                                            </select>
                                            <span style="color:red">{{msgError01}}</span><br />
                                        </div>
                                        <div class="form-group">
                                            <label>Select the unit system</label>
                                            <select class="form-control" ng-model="selectedUnit">
                                                <option selected="selected" value="Metric">Metric</option>
                                                <option value="Imperial" selected="selected">Imperial</option>
                                            </select>
                                            <span style="color:red">{{msgError02}}</span><br />
                                        </div>
                                        <button type="submit" ng-click="getWeather('LOAD_NEW_CAPTURE')" class="btn btn-default">Get weather</button>
                                    </form>

                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Result
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>City</td>
                                        <td ng-bind="weather.city"></td>
                                    </tr>
                                    <tr>
                                        <td>Country</td>
                                        <td ng-bind="weather.country"></td>
                                    </tr>
                                    <tr>
                                        <td>Latitude</td>
                                        <td ng-bind="weather.latitude"></td>
                                    </tr>
                                    <tr>
                                        <td>Longitude</td>
                                        <td ng-bind="weather.longitude"></td>
                                    </tr>
                                    <tr>
                                        <td>Current weather</td>
                                        <td ng-bind="weather.currentWeather"></td>
                                    </tr>
                                    <tr>
                                        <td>Wind Speed</td>
                                        <td ng-bind="weather.windSpeed"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Forms -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Forms - Use for reference -->

</body>

</html>
